.product__rating {
  display: flex;
}
.product__price {
  margin-top: 5px;
}
.product__info {
  height: 100px;
  margin-bottom: 15px;
}

.product {
  display: flex;
  flex-direction: column;
  max-width: 100px;
  max-height: 400px;
  padding: 20px;
  width: 100%;
  align-items: center;
  justify-content: flex-end;

  z-index: 1;
  background-color: rgb(239, 237, 241);
}
.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.product > button {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
}
